In [ ]:
# Inicialize o Otter
import otter
grader = otter.Notebook("lab03.ipynb")

# Laboratório 3: Tipos de Dados e Arrays
Bem-vindo ao Laboratório 3!

Até agora, usamos Python para manipular números e trabalhar com tabelas. Mas precisamos discutir tipos de dados para aprofundar nosso entendimento de como trabalhar com dados em Python.

Neste laboratório, você verá primeiro como representar e manipular outro tipo fundamental de dados: texto. Um pedaço de texto é chamado de *string* em Python. Você também verá como trabalhar com *arrays* de dados. Um array pode conter todos os números entre 0 e 100 ou todas as palavras em um capítulo de um livro. Por último, você criará tabelas e praticará a análise delas com seu conhecimento de operações de tabela. A [Referência Python](http://data8.org/sp22/python-reference.html) tem informações que serão úteis para este laboratório.

**Submissão**: Quando terminar, execute todas as células além da última, selecione Arquivo > Salvar Notebook e, em seguida, execute a célula final. Em seguida, envie o arquivo zip baixado, que inclui seu notebook, de acordo com as instruções do seu professor.

Set up the tests and imports by running the cell below.

In [ ]:
# Apenas execute esta célula
import numpy as np
import math
from datascience import *
import d8error

# 1. Texto
A programação não se limita apenas a números. O texto é um dos tipos de dados mais comuns usados em programas.

O texto é representado por um **valor string** em Python. A palavra "string" é um termo de programação para uma sequência de caracteres. Uma string pode conter um único caractere, uma palavra, uma frase ou um livro inteiro.

Para distinguir os dados de texto do código real, demarcamos as strings colocando aspas ao redor delas. Aspas simples (`'`) e aspas duplas (`"`) são ambas válidas, mas os tipos de aspas de abertura e fechamento devem corresponder. O conteúdo pode ser qualquer sequência de caracteres, incluindo números e símbolos.

Já vimos strings antes em declarações `print`. Abaixo, duas strings diferentes são passadas como argumentos para a função `print`.

In [ ]:
print("I <3", 'Data Science')

Assim como os nomes podem ser atribuídos a números, os nomes podem ser atribuídos a valores de string. Os nomes e as strings não precisam ser semelhantes de forma alguma. Qualquer nome pode ser atribuído a qualquer string.

In [ ]:
one = 'two'
plus = '*'
print(one, plus, one)

**Questão 1.1.** Yuri Gagarin foi a primeira pessoa a viajar pelo espaço sideral. Quando ele emergiu de sua cápsula ao pousar na Terra, ele [supostamente](https://en.wikiquote.org/wiki/Yuri_Gagarin) teve a seguinte conversa com uma mulher e uma menina que viram o pouso:

    A mulher perguntou: "Can it be that you have come from outer space?"
    Gagarin respondeu: "As a matter of fact, I have!"

A célula abaixo contém código inacabado. Preencha os `...`s para que ela imprima esta conversa *exatamente* como aparece acima.

In [ ]:
woman_asking = ...
woman_quote = '"Can it be that you have come from outer space?"'
gagarin_reply = 'Gagarin replied:'
gagarin_quote = ...

print(woman_asking, woman_quote)
print(gagarin_reply, gagarin_quote)

In [ ]:
grader.check("q11")

## 1.1. Métodos de String

As strings podem ser transformadas usando **métodos**. Lembre-se de que métodos e funções não são a mesma coisa. Aqui está a seção do livro didático sobre métodos de string: [4.2.1 Métodos de String](https://inferentialthinking.com/chapters/04/2/1/String_Methods.html?highlight=methods).

Aqui está um esboço de como chamar métodos em uma string:

    <expressão que avalia para uma string>.<nome do método>(<argumento>, <argumento>, ...)
    
Um exemplo de um método de string é `replace`, que substitui todas as instâncias de alguma parte da string original (ou uma *substring*) por uma nova string.

    <string original>.replace(<substring antiga>, <nova substring>)
    
`replace` retorna (avalia para) uma nova string, deixando a string original inalterada.
    
Tente prever a saída deste exemplo, depois execute a célula!

In [ ]:
# Substitua uma letra
bag = 'bag'
print(bag.replace('g', 't'), bag)

Você pode chamar funções nos resultados de outras funções. Por exemplo, `max(abs(-5), abs(3))` avalia para 5. Da mesma forma, você pode chamar métodos nos resultados de outras chamadas de método ou função.

Você já deve ter notado uma diferença entre funções e métodos - uma função como `max` não requer um `.` antes de ser chamada, mas um método de string como `replace` sim. Aqui está uma útil [Referência Python](http://data8.org/fa21/python-reference.html) no site do Data 8. É uma boa ideia consultar isso sempre que você não tiver certeza de como chamar uma função ou método.

In [ ]:
# Chamando replace no resultado de outra chamada para replace
'train'.replace('t', 'ing').replace('in', 'de')

Aqui está uma imagem de como o Python avalia uma chamada de método "encadeada" como essa:

<img src="chaining_method_calls.png"/>

**Questão 1.1.1.** Use `replace` para transformar a string `'hitchhiker'` em `'matchmaker'`. Atribua seu resultado a `new_word`.

In [ ]:
new_word = ...
new_word

In [ ]:
grader.check("q111")

Existem muitos mais métodos de string em Python, mas a maioria dos programadores não memoriza seus nomes ou como usá-los. No "mundo real", as pessoas geralmente apenas pesquisam na internet por documentação e exemplos. Uma lista completa de [métodos de string](https://docs.python.org/3/library/stdtypes.html#string-methods) aparece na documentação da linguagem Python. O [Stack Overflow](http://stackoverflow.com) tem um enorme banco de dados de perguntas respondidas que muitas vezes demonstram como usar esses métodos para alcançar vários fins. Material abordado nesses recursos que ainda não foram introduzidos nesta aula estarão fora do escopo.

## 1.2. Convertendo para e de Strings

Strings e números são diferentes *tipos* de valores, mesmo quando uma string contém os dígitos de um número. Por exemplo, avaliar a seguinte célula causa um erro porque um inteiro não pode ser adicionado a uma string.

In [ ]:
8 + "8"

No entanto, existem funções integradas para converter números em strings e strings em números. Algumas dessas funções integradas têm restrições sobre o tipo de argumento que aceitam:

|Função |Descrição|
|-|-|
|`int`|Converte uma string de dígitos ou um float para um valor inteiro ("int")|
|`float`|Converte uma string de dígitos (talvez com um ponto decimal) ou um int para um valor decimal ("float")|
|`str`|Converte qualquer valor para uma string|

Tente prever qual tipo de dado e valor `example` avalia, depois execute a célula.

In [ ]:
example = 8 + int("10") + float("8")

print(example)
print("This example returned a " + str(type(example)) + "!")

Suponha que você está escrevendo um programa que procura por datas em um texto, e você quer que seu programa encontre a quantidade de tempo que passou entre dois anos que ele identificou. Não faz sentido subtrair dois textos, mas você pode primeiro converter o texto contendo os anos em números.

**Questão 1.2.1.** Complete o código abaixo para calcular o número de anos que se passaram entre `one_year` e `another_year`. Não escreva apenas os números `1618` e `1648` (ou `30`); use uma função de conversão para transformar os dados de texto fornecidos em números.

In [ ]:
# Alguns dados de texto:
one_year = "1618"
another_year = "1648"

# Complete a próxima linha. Note que não podemos simplesmente escrever:
#   another_year - one_year
# Se você não entende por que, tente ver o que acontece quando você
# escreve isso aqui.
difference = ...
difference

In [ ]:
grader.check("q121")

## 1.3. Passando strings para funções

Valores de string, como números, podem ser argumentos para funções e podem ser retornados por funções.

A função `len` (derivada da palavra "comprimento") recebe uma única string como argumento e retorna o número de caracteres (incluindo espaços) na string.

Note que ela não conta *palavras*. `len("one small step for man")` avalia para 22 caracteres, não 5 palavras.

**Questão 1.3.1.** Use `len` para encontrar o número de caracteres na longa string na próxima célula. Caracteres incluem coisas como espaços e pontuação. Atribua `sentence_length` a esse número.

(A string é a primeira frase da tradução em inglês da Declaração Francesa dos Direitos do Homem [Declaração dos Direitos do Homem](http://avalon.law.yale.edu/18th_century/rightsof.asp).)

In [ ]:
a_very_long_sentence = "The representatives of the French people, organized as a National Assembly, believing that the ignorance, neglect, or contempt of the rights of man are the sole cause of public calamities and of the corruption of governments, have determined to set forth in a solemn declaration the natural, unalienable, and sacred rights of man, in order that this declaration, being constantly before all the members of the Social body, shall remind them continually of their rights and duties; in order that the acts of the legislative power, as well as those of the executive power, may be compared at any moment with the objects and purposes of all political institutions and may thus be more respected, and, lastly, in order that the grievances of the citizens, based hereafter upon simple and incontestable principles, shall tend to the maintenance of the constitution and redound to the happiness of all."
sentence_length = ...
sentence_length

In [ ]:
grader.check("q131")

# 2. Arrays

Computadores são mais úteis quando você pode usar uma pequena quantidade de código para *realizar a mesma ação* em *muitas coisas diferentes*.

Por exemplo, no tempo que leva para você calcular a gorjeta de 18% em uma conta de restaurante, um laptop pode calcular gorjetas de 18% para todas as contas de restaurante pagas por todos os humanos na Terra naquele dia. (Isso se você for bastante rápido em fazer cálculos de cabeça!)

**Arrays** são como colocamos muitos valores em um lugar para que possamos operá-los como um grupo. Por exemplo, se `billions_of_numbers` é um array de números, a expressão

    .18 * bilhoes_de_numeros

fornece um novo array de números que contém o resultado de multiplicar **cada número** em `billions_of_numbers` por .18. Arrays não se limitam a números; também podemos colocar todas as palavras de um livro em um array de strings.

Concretamente, um array é uma **coleção de valores do mesmo tipo**.

## 2.1. Criando arrays

Primeiro, vamos aprender como inserir valores manualmente em um array. Normalmente, isso não é como os programas funcionam. Normalmente, criamos arrays carregando-os de uma fonte externa, como um arquivo de dados.

Para criar um array manualmente, chame a função `make_array`. Cada argumento que você passa para `make_array` estará no array que ela retorna. Execute esta célula para ver um exemplo:

In [ ]:
make_array(0.125, 4.75, -1.3)

Cada valor em um array (no caso acima, os números 0.125, 4.75 e -1.3) é chamado de *elemento* desse array.

Os próprios arrays também são valores, assim como números e strings. Isso significa que você pode atribuí-los a nomes ou usá-los como argumentos para funções. Por exemplo, `len(<algum_array>)` retorna o número de elementos em `algum_array`.

**Questão 2.1.1.** Crie um array contendo os números 0, 1, -1 e $\pi$, nessa ordem. Nomeie-o `interesting_numbers`.

*Dica:* Como você obteve o valor de $\pi$ no laboratório 2? Você pode se referir a ele da mesma maneira aqui. O módulo `math` foi importado no topo deste notebook.

In [ ]:
interesting_numbers = ...
interesting_numbers

In [ ]:
grader.check("q211")

**Questão 2.1.2.** Crie um array contendo as cinco strings `"Hello"`, `","`, `" "`, `"world"`, e `"!"`. (A terceira é um espaço único entre aspas.) Nomeie-o `hello_world_components`.

*Nota:* Se você avaliar `hello_world_components`, você notará algumas informações extras além de seu conteúdo: `dtype='<U5'`. Isso é apenas a maneira extremamente críptica do NumPy de dizer que os tipos de dados no array são strings.

In [ ]:
hello_world_components = ...
hello_world_components

In [ ]:
grader.check("q212")

### `np.arange`
Os arrays são fornecidos por um pacote chamado [NumPy](http://www.numpy.org/) (pronunciado "NUM-pie"). O pacote é chamado `numpy`, mas é padrão renomeá-lo para `np` por brevidade. Você pode fazer isso com:

    import numpy as np

Muito frequentemente em ciência de dados, queremos trabalhar com muitos números que estão uniformemente espaçados dentro de algum intervalo. NumPy fornece uma função especial para isso chamada `arange`. A linha de código `np.arange(start, stop, step)` avalia para um array com todos os números começando em `start` e contando por `step`, parando **antes** que `stop` seja alcançado.

Execute as células a seguir para ver alguns exemplos!

In [ ]:
# Este array começa em 1 e conta de 2 em 2
# e então para antes do 6
np.arange(1, 6, 2)

In [ ]:
# Este array não contém o 9
# porque np.arange para *antes* de atingir o valor de parada
np.arange(4, 9, 1)

**Questão 2.1.3.** Importe `numpy` como `np` e então use `np.arange` para criar um array com os múltiplos de 99 de 0 até (**e incluindo**) 9999. (Então seus elementos são 0, 99, 198, 297, etc.)

In [ ]:
...
multiples_of_99 = ...
multiples_of_99

In [ ]:
grader.check("q213")

## 2.2. Trabalhando com elementos individuais de arrays ("indexação")
Vamos trabalhar com um conjunto de dados mais interessante. A próxima célula cria um array chamado `population_amounts` que inclui estimativas da população mundial de cada ano de **1950** até aproximadamente o presente. (As estimativas vêm do site do US Census Bureau).

Em vez de digitar os dados manualmente, carregamos eles de um arquivo no seu computador chamado `world_population.csv`. Você aprenderá como fazer isso mais tarde neste laboratório!

In [ ]:
population_amounts = Table.read_table("world_population.csv").column("Population")
population_amounts

Aqui está como obtemos o primeiro elemento de `population_amounts`, que é a população mundial no primeiro ano do conjunto de dados, 1950.

In [ ]:
population_amounts.item(0)

O valor dessa expressão é o número 2,557,628,654 (cerca de 2,5 bilhões), porque essa é a primeira coisa no array `population_amounts`.

Observe que escrevemos `.item(0)`, não `.item(1)`, para obter o primeiro elemento. Esta é uma convenção estranha em ciência da computação. **0 é chamado de *índice* do primeiro item.** É o número de elementos que aparecem *antes* desse item. Então, 3 é o índice do 4º item.

Aqui estão mais alguns exemplos. Nos exemplos, demos nomes às coisas que tiramos de `population_amounts`. Leia e execute cada célula.

In [ ]:
# O 13º elemento no array é a população
# em 1962 (que é 1950 + 12).
population_1962 = population_amounts.item(12)
population_1962

In [ ]:
# O 66º elemento é a população em 2015.
population_2015 = population_amounts.item(65)
population_2015

In [ ]:
# O array tem apenas 66 elementos, então isso não funciona.
# (Não há elemento com 66 outros elementos antes dele.)
population_2016 = population_amounts.item(66)
population_2016

Como `make_array` retorna um array, podemos chamar `.item(3)` em sua saída para obter seu 4º elemento, assim como "encadeamos" chamadas ao método `replace` anteriormente.

In [ ]:
make_array(-1, -3, 4, -2).item(3)

**Questão 2.2.1.** Defina `population_1973` como a população mundial em 1973, obtendo o elemento apropriado de `population_amounts` usando `item`.

In [ ]:
population_1973 = ...
population_1973

In [ ]:
grader.check("q221")

## 2.3. Fazendo algo com cada elemento de um array
Arrays são principalmente úteis para realizar a mesma operação muitas vezes, então não costumamos usar `.item` e trabalhar com elementos individuais.

##### Arredondamento
Aqui está uma pergunta simples que podemos fazer sobre a população mundial:

> Qual era a população em cada ano, arredondada para o milhão mais próximo?

O arredondamento é frequentemente usado com números grandes quando não precisamos de tanta precisão em nossos números. Um exemplo disso é quando apresentamos dados em tabelas e visualizações.

Poderíamos tentar responder à nossa pergunta usando a função `round` que está integrada no Python e o método `item` que você acabou de ver.

**Nota:** a função `round` recebe dois argumentos: o número a ser arredondado e o número de casas decimais para arredondar. O segundo argumento pode ser pensado como quantos passos à direita ou à esquerda você move a partir do ponto decimal. Números negativos nos dizem para mover para a esquerda, e números positivos nos dizem para mover para a direita. Então, se temos `round(1234.5, -2)`, significa que devemos mover dois lugares para a esquerda e, em seguida, fazer todos os números à direita deste lugar serem zeros. Isso resultaria no número 1200.0. Por outro lado, se temos `round(6.789, 1)`, devemos mover um lugar para a direita e, em seguida, fazer todos os números à direita deste lugar serem zeros. Isso resultaria no número 6.8.

In [ ]:
population_1950_magnitude = round(population_amounts.item(0), -6)
population_1951_magnitude = round(population_amounts.item(1), -6)
population_1952_magnitude = round(population_amounts.item(2), -6)
population_1953_magnitude = round(population_amounts.item(3), -6)

Mas isso é tedioso e não aproveita realmente o fato de estarmos usando um computador.

Em vez disso, o NumPy fornece sua própria versão de `round` que arredonda cada elemento de um array. Ele recebe dois argumentos: um único array de números e o número de casas decimais para arredondar. Ele retorna um array do mesmo comprimento, onde o primeiro elemento do resultado é o primeiro elemento do argumento arredondado, e assim por diante.

**Questão 2.3.1.** Use `np.round` para calcular a população mundial em todos os anos, arredondada para o milhão mais próximo (6 zeros). Dê o resultado (um array de 66 números) o nome `population_rounded`. Seu código deve ser muito curto.

In [ ]:
population_rounded = ...
population_rounded

In [ ]:
grader.check("q231")

O que você acabou de fazer é chamado de aplicação **elementwise** de `np.round`, uma vez que `np.round` opera separadamente em cada elemento do array em que é chamado. Aqui está uma imagem do que está acontecendo:

<img src="array_round.jpg">

A [seção](https://www.inferentialthinking.com/chapters/05/1/Arrays) do livro didático sobre arrays tem uma lista útil de funções NumPy que são projetadas para funcionar elemento por elemento, como `np.round`.

##### Aritmética
A aritmética também funciona elemento por elemento em arrays, o que significa que se você realizar uma operação aritmética (como subtração, divisão, etc) em um array, o Python fará a operação em cada elemento do array individualmente e retornará um array com todos os resultados. Por exemplo, você pode dividir todos os números da população por 1 bilhão para obter números em bilhões:

In [ ]:
population_in_billions = population_amounts / 1000000000
population_in_billions

Você pode fazer o mesmo com adição, subtração, multiplicação e exponenciação (`**`).

## 3. Criando Tabelas

Um array é útil para descrever um único atributo de cada elemento em uma coleção. Por exemplo, digamos que nossa coleção são todos os estados dos EUA. Então, um array poderia descrever a área de terra de cada estado.

As tabelas estendem essa ideia contendo várias colunas armazenadas e representadas como arrays, cada uma descrevendo um atributo diferente para cada elemento de uma coleção. Desta forma, as tabelas nos permitem não apenas armazenar dados sobre muitas entidades, mas também conter vários tipos de dados sobre cada entidade.

Por exemplo, na célula abaixo temos dois arrays. O primeiro, `population_amounts`, foi definido acima na seção 2.2 e contém a população mundial em cada ano (estimada pelo US Census Bureau). O segundo array, `years`, contém os próprios anos. Esses elementos estão em ordem, então o ano e a população mundial para aquele ano têm o mesmo índice em seus respectivos arrays.

In [ ]:
# Apenas execute esta célula

years = np.arange(1950, 2015+1)
print("Population column:", population_amounts)
print("Years column:", years)

Suponha que queremos responder a esta pergunta:

> Em que ano a população mundial ultrapassou 6 bilhões?

Tecnicamente, você poderia responder a esta pergunta apenas olhando para os arrays, mas é um pouco complicado, pois você teria que contar a posição onde a população ultrapassou pela primeira vez 6 bilhões, e então encontrar o elemento correspondente no array de anos. Em casos como esses, pode ser mais fácil colocar os dados em uma *`Table`*, um tipo de conjunto de dados bidimensional.

A expressão abaixo:

- cria uma tabela vazia usando a expressão `Table()`,
- adiciona duas colunas chamando `with_columns` com quatro argumentos,
- atribui o resultado ao nome `population`, e finalmente
- avalia `population` para que possamos ver a tabela.

As strings `"Year"` e `"Population"` são rótulos de colunas que escolhemos. Os nomes `population_amounts` e `years` foram atribuídos acima a dois arrays do **mesmo comprimento**. A função `with_columns` (você pode encontrar a documentação [aqui](http://data8.org/fa21/python-reference.html)) recebe strings alternadas (para representar rótulos de colunas) e arrays (representando os dados nessas colunas). As strings e os arrays são separados por vírgulas.

In [ ]:
population = Table().with_columns(
    "Population", population_amounts,
    "Year", years
)
population

Agora os dados estão combinados em uma única tabela! É muito mais fácil analisar esses dados. Se você precisar saber qual era a população em 1959, por exemplo, você pode dizer com uma única olhada.

**Questão 3.1.** Na célula abaixo, criamos 2 arrays. Usando os passos acima, atribua `top_10_movies` a uma tabela que tem duas colunas chamadas "Name" e "Rating", que contêm `top_10_movie_names` e `top_10_movie_ratings` respectivamente.

In [ ]:
top_10_movie_names = make_array(
        'The Shawshank Redemption (1994)',
        'The Godfather (1972)',
        'The Godfather: Part II (1974)',
        'Pulp Fiction (1994)',
        "Schindler's List (1993)",
        'The Lord of the Rings: The Return of the King (2003)',
        '12 Angry Men (1957)',
        'The Dark Knight (2008)',
        'Il buono, il brutto, il cattivo (1966)',
        'The Lord of the Rings: The Fellowship of the Ring (2001)')
top_10_movie_ratings = make_array(9.2, 9.2, 9., 8.9, 8.9, 8.9, 8.9, 8.9, 8.9, 8.8)

top_10_movies = ...

# Colocamos a próxima linha aqui 
# para que sua tabela seja impressa 
# quando você executar esta célula.
top_10_movies

In [ ]:
grader.check("q31")

#### Carregando uma tabela a partir de um arquivo

Na maioria dos casos, não vamos passar pelo trabalho de digitar todos os dados manualmente. Em vez disso, carregamos eles de uma fonte externa, como um arquivo de dados. Existem muitos formatos para arquivos de dados, mas CSV ("valores separados por vírgula") é o mais comum.

`Table.read_table(...)` recebe um argumento (um caminho para um arquivo de dados em formato **string**) e retorna uma tabela.

**Questão 3.2.** `imdb.csv` contém uma tabela de informações sobre os 250 filmes mais bem avaliados no IMDb. Carregue-o como uma tabela chamada `imdb`.

(Você pode se lembrar de trabalhar com esta tabela no Laboratório 2!)

In [ ]:
imdb = ...
imdb

In [ ]:
grader.check("q32")

De onde veio o `imdb.csv`? Dê uma olhada na [pasta deste laboratório](./). Você deve ver um arquivo chamado `imdb.csv`.

Abra o arquivo `imdb.csv` nessa pasta e observe o formato. O que você percebe? A extensão do arquivo `.csv` indica que este arquivo está no [formato CSV (valores separados por vírgula)](http://edoceo.com/utilitas/csv-file-format).

## 4. Mais Operações com Tabelas!

Agora que você trabalhou com arrays, vamos adicionar mais alguns métodos à lista de operações de tabelas que você viu no Laboratório 2.

### `column`

`column` recebe o nome da coluna de uma tabela (no formato de string) como seu argumento e retorna os valores dessa coluna como um **array**.

In [ ]:
# Retorna um array de nomes de filmes
top_10_movies.column('Name')

### `take`
O método `take` da tabela recebe como argumento um array de números. Cada número deve ser o índice de uma linha na tabela. Ele retorna uma **nova tabela** com apenas essas linhas.

Você geralmente vai querer usar `take` em conjunto com `np.arange` para pegar as primeiras linhas de uma tabela.

In [ ]:
# Pegue os primeiros 5 filmes de top_10_movies
top_10_movies.take(np.arange(0, 5, 1))

As próximas três perguntas lhe darão prática em combinar as operações que você aprendeu neste laboratório e no anterior para responder perguntas sobre as tabelas `population` e `imdb`. Primeiro, confira a tabela `population` da seção 2.

In [ ]:
# Execute esta célula para exibir a tabela de população.
population

**Questão 4.1.** Confira a tabela `population` da seção 2 deste laboratório. Calcule o ano em que a população mundial ultrapassou pela primeira vez 6 bilhões. Atribua o ano a `year_population_crossed_6_billion`.

In [ ]:
year_population_crossed_6_billion = ...
year_population_crossed_6_billion

In [ ]:
grader.check("q41")

**Questão 4.2.** Encontre a classificação média para filmes lançados antes do ano 2000 e a classificação média para filmes lançados no ano 2000 ou depois para os filmes em `imdb`.

*Dica*: Pense nas etapas que você precisa fazer (calcular a média, encontrar as classificações, encontrar filmes lançados nos séculos 20/21), e tente colocá-las em uma ordem que faça sentido.

In [ ]:
before_2000 = ...
after_or_in_2000 = ...
print("Average before 2000 rating:", before_2000)
print("Average after or in 2000 rating:", after_or_in_2000)

In [ ]:
grader.check("q42")

**Questão 4.3.** Aqui está um desafio: Encontre o número de filmes que foram lançados em anos *pares*.

*Dica:* O operador `%` calcula o resto da divisão por um número. Então `5 % 2` é 1 e `6 % 2` é 0. Um número é par se o resto for 0 quando você divide por 2.

*Dica 2:* `%` pode ser usado em arrays, operando elemento por elemento como `+` ou `*`. Então `make_array(5, 6, 7) % 2` é `array([1, 0, 1])`.

*Dica 3:* Adicione uma nova coluna chamada "Year Remainder" que é o resto quando o ano de lançamento de cada filme é dividido por 2. Para fazer isso, você pode usar `tbl.with_column(col_name, col_values)`: um método de tabela que recebe o nome da nova coluna e um array de valores e retorna uma cópia da `tbl` original com a nova coluna. Então, use `where` para encontrar as linhas onde essa nova coluna é igual a 0. Finalmente, use `num_rows` para contar o número de tais linhas.

*Nota:* Essas etapas podem ser encadeadas em uma única declaração, ou divididas em várias linhas com nomes intermediários atribuídos. Você sempre é bem-vindo para dividir os problemas como quiser!

In [ ]:
num_even_year_movies = ...
num_even_year_movies

In [ ]:
grader.check("q43")

## 5. Mais Prática com Arrays

As seguintes questões serão ótimas para praticar como gerar arrays de diferentes maneiras, bem como executar diferentes métodos de aritmética de arrays!

###  5.1 `np.arange` (cont.)

##### Leituras de temperatura
A NOAA (Administração Nacional Oceânica e Atmosférica dos EUA) opera estações meteorológicas que medem as temperaturas da superfície em diferentes locais dos Estados Unidos. As leituras horárias estão [disponíveis ao público](http://www.ncdc.noaa.gov/qclcd/QCLCD?prior=N).

Suponha que baixamos todos os dados horários do local de Oakland, Califórnia, para o mês de dezembro de 2015. Para analisar os dados, queremos saber quando cada leitura foi feita, mas descobrimos que os dados não incluem os carimbos de data/hora das leituras (o momento em que cada uma foi feita).

No entanto, sabemos que a primeira leitura foi feita no primeiro instante de dezembro de 2015 (meia-noite de 1º de dezembro) e cada leitura subsequente foi feita exatamente 1 hora após a última.

**Questão 5.1.1.** Crie um array do *tempo, em segundos, desde o início do mês* em que **cada leitura horária** foi feita. Nomeie-o `collection_times`.

*Dica 1:* Havia 31 dias em dezembro, o que equivale a ($31 \times 24$) horas ou ($31 \times 24 \times 60 \times 60$) segundos. Portanto, seu array deve ter $31 \times 24$ elementos.

*Dica 2:* A função `len` também funciona em arrays! Se o seu `collection_times` não está passando nos testes, verifique seu comprimento e certifique-se de que tem $31 \times 24$ elementos.

In [ ]:
collection_times = ...
collection_times

In [ ]:
grader.check("q511")

### 5.2 Fazendo algo com cada elemento de um array (cont.)

Calcule uma gorjeta em várias contas de restaurante de uma vez (neste caso, apenas 3):

In [ ]:
restaurant_bills = make_array(20.12, 39.90, 31.01)
print("Restaurant bills:\t", restaurant_bills)

# Multiplicação de array
tips = .2 * restaurant_bills
print("Tips:\t\t\t", tips)

**Questão 5.2.1** Suponha que a cobrança total em um restaurante seja a conta original mais a gorjeta. Se a gorjeta for de 20%, isso significa que podemos multiplicar a conta original por 1,2 para obter a cobrança total. Calcule a cobrança total para cada conta em `restaurant_bills` e atribua o array resultante a `total_charges`.

In [ ]:
total_charges = ...
total_charges

In [ ]:
grader.check("q521")

**Questão 5.2.2.** O array `more_restaurant_bills` contém 100.000 contas! Calcule a cobrança total para cada uma em `more_restaurant_bills`. Como o seu código é diferente?

In [ ]:
more_restaurant_bills = Table.read_table("more_restaurant_bills.csv").column("Bill")
more_total_charges = ...
more_total_charges

In [ ]:
grader.check("q522")

A função `sum` recebe um único array de números como argumento. Ela retorna a soma de todos os números nesse array (portanto, retorna um único número, não um array).

**Questão 5.2.3.** Qual foi a soma de todas as contas em `more_restaurant_bills`, *incluindo gorjetas*?

In [ ]:
sum_of_bills = ...
sum_of_bills

In [ ]:
grader.check("q523")

**Questão 5.2.4.** As potências de 2 ($2^0 = 1$, $2^1 = 2$, $2^2 = 4$, etc) surgem frequentemente na ciência da computação. (Por exemplo, você pode ter notado que o armazenamento em smartphones ou USBs vem em potências de 2, como 16 GB, 32 GB ou 64 GB.) Use `np.arange` e o operador de exponenciação `**` para calcular as primeiras 30 potências de 2, começando por `2^0`.

*Dica 1:* `np.arange(1, 2**30, 1)` cria um array com $2^{30}$ elementos e **vai travar seu kernel**.

*Dica 2:* Parte da sua solução envolverá `np.arange`, mas seu array não deve ter mais de 30 elementos.

In [ ]:
powers_of_2 = ...
powers_of_2

In [ ]:
grader.check("q524")

---

<img src="maple_syrup.jpeg" alt="drawing" width="300"/>

Maple Syrup quer te parabenizar por terminar o Laboratório 3!!

Para verificar novamente o seu trabalho, a célula abaixo irá executar novamente todos os testes do autograder.

## 6. Submissão

**Passos importantes para a submissão:**
1. Execute os testes e verifique se todos passaram.
2. Escolha **Salvar Notebook** no menu **Arquivo**, então **execute a última célula**.
3. Clique no link para baixar o arquivo zip.
4. Em seguida, envie o arquivo zip para a tarefa correspondente de acordo com as instruções do seu professor.

**É sua responsabilidade garantir que seu trabalho esteja salvo antes de executar a última célula.**

## Submissão

Certifique-se de ter executado todas as células do seu notebook em ordem antes de executar a célula abaixo, para que todas as imagens/gráficos apareçam na saída. A célula abaixo irá gerar um arquivo zip para você enviar. **Por favor, salve antes de exportar!**

In [ ]:
# Salve seu notebook primeiro, depois execute esta célula para exportar sua submissão.
grader.export(pdf=False, run_tests=True)